# DATABASE
DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/ecommercedb?schema=public"

# AUTH.JS / NEXTAUTH
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="super-secret-nextauth-key-32-chars-minimum"

# STRIPE PAYMENTS
STRIPE_SECRET_KEY="sk_test_51..."
STRIPE_PUBLISHABLE_KEY="pk_test_51..."
STRIPE_WEBHOOK_SECRET="whsec_..."

# RESEND TRANSACTIONAL EMAILS
RESEND_API_KEY="re_123456789"

# UPSTASH REDIS
UPSTASH_REDIS_REST_URL="https://...upstash.io"
UPSTASH_REDIS_REST_TOKEN="..."
